<div class="panel-title mt-16">Colors</div>
<div class="sub">Choose up to 3 (we’ll build a harmonious palette).</div>
<div id="colorRow" class="color-row" aria-label="Color selection">
  <button type="button" class="color-chip" data-color="Black"><span class="dot dot-black"></span>Black</button>
  <button type="button" class="color-chip" data-color="White"><span class="dot dot-white"></span>White</button>
  <button type="button" class="color-chip" data-color="Gray"><span class="dot dot-gray"></span>Gray</button>
  <button type="button" class="color-chip" data-color="Red"><span class="dot dot-red"></span>Red</button>
  <button type="button" class="color-chip" data-color="Orange"><span class="dot dot-orange"></span>Orange</button>
  <button type="button" class="color-chip" data-color="Yellow"><span class="dot dot-yellow"></span>Yellow</button>
  <button type="button" class="color-chip" data-color="Green"><span class="dot dot-green"></span>Green</button>
  <button type="button" class="color-chip" data-color="Blue"><span class="dot dot-blue"></span>Blue</button>
  <button type="button" class="color-chip" data-color="Purple"><span class="dot dot-purple"></span>Purple</button>
  <button type="button" class="color-chip" data-color="Pink"><span class="dot dot-pink"></span>Pink</button>
</div>

